@font-face{
   src: url("../font/Burb.otf");
   font-family: nos;
}
%coju-contact{
   font-size: 10vw;
   font-family: nos;
 }
 .hashhash{
   @extend %coju-contact;
   color : tomato;
 }
#C{
   @extend %coju-contact;
   color :#845EC2;
}
#O{
   @extend %coju-contact;
   color: #D65DB1;
}
#N{
   @extend %coju-contact;
   color: #FF6F91;
}
#T{
   @extend %coju-contact;
   color: #FF9671;

}
#A{
   @extend %coju-contact;
   color: #FFC75F;
}
#C2{
   @extend %coju-contact;
   color: tomato;
}
#T2{
   @extend %coju-contact;
   color: rgb(210, 39, 173);
}
.conju-cont{
   margin-top: 4vh;
   display: flex;
   justify-content: center;
}

#C:hover{
   color: tomato;
   transform: scale(1.2) rotate(360deg);
   transition: .5s;
}
#O:hover{
   color: tomato;
   transform: translateY(-3vh);
   transition: .5s;
}
#N:hover{
   color: tomato;
   transform: scale(1.2) rotate(-360deg);
   transition: .5s;
}
#T:hover{
   color: tomato;
   transform: translateY(2vh) scale(1.3);
   transition: .5s;
}
#A:hover{
   color: tomato;
   transform: translateY(-3vh);
   transition: .5s;
}
#C2:hover{
   color: tomato;
   transform: scale(1.2) rotate(360deg);
   transition: .5s;
}
#T2:hover{
   color: tomato;
   transform: scale(2);
   transition: .5s;
}



$FvColor:rgb(253, 91, 62);
.body{
   font-family: nos;
   background: url("../../style/geomatry.gif");  
}
.contact-me-here{
   background: url("../../style/geomatry.gif");
}
.contact-box-x{
   background-image: url("../Registration/style/geomatry.gif");
   margin: 10vw;
   font-family: nos;
   display:grid;
   padding: 3vw;
   box-shadow: 10px 4px 50px;
   h1{
      text-align: center;
      font-size: 7vw;
      color: tomato;
   }
   label{
      // background: $FvColor;
      margin-bottom: 2vh;
      font-size: 4vw;
   }
   input{
      background: white;
      opacity: .8;
      border-bottom: 2px solid rgb(82, 82, 82);
      border-left: 2px solid white;
      border-right: 2px solid white;
      border-top: 2px solid white;
      padding-left: 2.5px;
      margin-bottom: 7vh;
      color: $FvColor;
      
   }
   textarea
      {
         border: 3px solid rgb(82, 82, 82);
         border-radius: 1vw;
         color: $FvColor;
         margin-bottom: 5vh;
         opacity: .8;
      }
      .btn-danger{
         font-size: 2vw;
      }
}
@media( max-width:999px ){
   .contact-me-here{
      background: url("../../style/geomatry.gif");
   }
   .contact-box-x{
      background-image: url("../Registration/style/geomatry.gif");
      margin: 10vw;
      font-family: nos;
      display:grid;
      padding: 3vw;
      box-shadow: 4px 4px 5px;
      h1{
         text-align: center;
      }
      label{
         // background: $FvColor;
         margin-bottom: 2vh;
      }
      input{
         background: white;
         opacity: .8;
         border-bottom: 2px solid rgb(82, 82, 82);
         border-left: 2px solid white;
         border-right: 2px solid white;
         border-top: 2px solid white;
         padding-left: 2.5px;
         margin-bottom: 7vh;
         color: $FvColor;
         
      }
      textarea
         {
            font-size: 1.4vw;
            border: 3px solid rgb(82, 82, 82);
            color: $FvColor;
            margin-bottom: 5vh;
            opacity: .8;
         }
         .btn-danger{
            font-size: 2vw;
         }
   }
}