@font-face{
    src: url("../font/Burb.otf");
    font-family: nos;
}
@font-face{
    src: url("../font/haveti.ttf");
    font-family: nos2;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mcf-h{
    font-family: nos;
    font-size: 3rem;
    color: white;
}
.mcf-l{
    font-family: nos;
    font-size: 2rem;
    color: white;
    padding-left: 4rem;
}
.navbar{
    background: #273238;
}
.navbar-brand{
    color: white;
    font-size: 2rem;
}
.navbg{
    background:white;
}
.navbg2{
    background-image: url("https://img.icons8.com/material-rounded/24/000000/menu.png");
}
h1{
    font-family: nos;
}
.center{
    text-align: center;
}
.massive-h1{
    font-size: 5rem;
    padding-top: 5rem;
}
.massive-h4{
    font-size: 2rem;
    padding-top: 1rem;
    color: #b5b5b5;
    font-family: nos;
}
#massive-getmein{
    display: flex;
    padding-top: 5em;
    padding-left: 10vw;
    padding-right: 10vw;
}
.massive1{
    width: 40vw;
}
.midas{
    width: 40vw;
    height: auto;
}
.massive2{
    width: 40vw;
    display: flex;
    align-self: center;
}
.container1{
    padding: 2vw;
}
.container1-h1{
    font-family: nos;
    font-size: 4vw;
}
.container1-p{
    font-family: nos;
    font-size: 2vw;
    color: #4d4d4d;
}
#container-footer{
    background: #3d4458;
    color: white;
    font-family: nos;
}
.cfc1{
    font-family: nos;
    display: grid;
    justify-content: center;
    text-align: center;
}
.cfc1>h2{
    padding-top: 5vh;
    font-size: 4vw;
}
.cfc1>p{
    padding-top: 2vh;
    font-size: 2vw;
    color: tomato;
}
.cfr1x{
    display: flex;
    padding-top: 2vh;
    justify-content: center;
}
.cfc2>a{
    font-size: 3vw;
    padding: 2vw;
    color: white;
}
.cfr2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    padding-bottom: 6vh;
}
.cfr2>h1{
    padding-right: 5vw;
}
.mybtn{
    font-size: 3vw;
    background: tomato;
    color: white;
}
.social {
    display: flex;
    justify-content: center;
    padding: 2vw;
}

.social img {
    background: url("./geomatry.gif");
    padding: 2vw;
    border: .1vw solid white;
    border-radius: 100vw;
    margin: 3vw;
}
.social img:hover{
    transform: rotate(360deg) scale(1.2);
    transition: .3s ease;
}
