@font-face {
    src: url("../font/Burb.otf");
    font-family: nos;
  }

body{
  font-family: nos;
  
}
img:hover{
  transform: scale(1.5) rotate(360deg);
  transition: .5s ease;
}
.profile-1{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  /* background: url(./geomatry.gif)repeat center center fixed; */
  border-radius: 2vw;
  padding: 2vw;
  box-shadow: 3px 1px 5px black;
}
.profile-pic{
  justify-self: center;
}
.profile-details-para{
  align-self: center;
  padding-left: 5vw;
}
.profile-details-para h1{
  font-size: 6.5vw;
}
.profile-details-parahh2{
  font-size: 3vw;
  color:tomato;
}
ul.ulme li{
  font-size: 4vw;
  color: rgb(75, 75, 75);
}
ul.ulme li:hover{
  transform: scale3d(1.4,1.4,1);
  transition: .6s ease;
  color: tomato;

}

.raihan{
  width: 20vw;
  border: .1vw solid white;
  border-radius: 301px;
  
}
.skill-details1{
  text-align: center;
}
.skill-details1-h1{
  font-size: 4.5vw;
  color:black;
  margin-left: 30vw;
  margin-right: 30vw;
  background: url("./geomatry.gif");
  border: 1px solid white;
  border-radius: 3vw;
  box-shadow: 5px 1px 5px black;
}
.skills{
  
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  margin-left: 11vw;
  margin-right: 11vw;
  margin-top: 3vh;
  margin-bottom: 6vh;
  border: 1px solid white;
  border-radius: 5vw;
  box-shadow: 5px 5px 5px black;
}
tr{
  /* border-left:3px solid black;
  border-right:3px solid black; */
}
.trtop{
  /* border-top: 3px solid black;
  border-left:3px solid black;
  border-right:3px solid black; */
}
.trbottom{
  
  /* border-left:3px solid black;
  border-right:3px solid black;
  border-bottom: 3px solid black; */
}
.tr22{

}
td{
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 5vh;
}
.tdp{
  padding-right: 12vw;
  padding-left: 2vw;
  color: black;
}
.tdp:hover{
  color:rgb(189, 189, 189);
  transform: scale(1.2);
  transition: .5s ease;
}
.hiremex{
  display: grid;
  justify-content: center;
}
.hiremex>h1{
  font-size: 9vw;
  padding-top: 20vh;
  padding-bottom: 12vh;
  justify-self: center;
}
.btn-hireme{
  color: white;
  font-size: 5vw;
  margin-bottom: 10vh;
  justify-self: center;
}

@media( max-width:999px ){
  .hiremex>h1{
    font-size: 9vw;
    padding-top: 5vh;
    padding-bottom: 3vh;
    justify-self: center;
  }
  }